<h1>Julian Industries</h1>
<h3>Here is the list of employees:</h3>

<ul>
  <% if @employee_list.any?() %>
    <% @employee_list.each() do |employee_object| %>
      <li><%= employee_object.name() %></li>
    <% end %>
  <% end %>
</ul>

<h4>Add a new employee</h4>
<form action='/employee_post' method='post'>
  <label for='employee_name'>Employee name:</label>
  <input id='employee_name' name='employee_name' type='text' placeholder='Marge Simpson'>
  <button type='submit' class='btn btn-primary'>Add Employee</button>
</form>
